@font-face {
    font-family: FredokaOne;
    src: url('/font/FredokaOne-Regular.ttf');
}
@font-face {
    font-family: AlibabaPuHuiTiBold;
    src: url('/font/AlibabaPuHuiTi-3-85-Bold.ttf');
}
@font-face {
    font-family: AlibabaPuHuiTiMedium;
    src: url('/font/AlibabaPuHuiTi-3-65-Medium.ttf');
}
@font-face {
    font-family: AlibabaPuHuiTiRegular;
    src: url('/font/AlibabaPuHuiTi-3-55-Regular.ttf');
}
.background {
    position: relative;
    width: 100%;
    background-color: #FFF6E8;
}

.content {

    width: calc(100% - 10rem);
    min-width: calc(700px);
    max-width: calc(100% - 10rem);
    margin: 0 auto;
    padding-top: 4.2rem;
    overflow: hidden;

    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    width: 100%;
    opacity: 1;
    border-radius: 1rem;
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.btn {
    cursor: pointer;
    font-family:'AlibabaPuHuiTiMedium';
    font-size: 1.2rem;
    padding: 0 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    color: #370903;
    background-color: #FFEDCD;
    margin-right: 1rem;
    height: 3.15rem;
    border: 2px solid #7A5651;
    border-radius: 0.75rem;
}
.btn:hover {
    background-color: #E1D0BD;
}
.activeBtn {
    background-color: #E7AF4E;

}
.cardTitle {
    font-family:'FredokaOne';
    font-size: 2.6rem;
    color: #370903;
    text-shadow: 0px 0.1rem 0.1rem #846966;
    width: 100%;
    text-align: center;
    margin-bottom: 2.45rem;
}


.searchBox {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.7rem;
}
.searchInput {
    height: 4.68125rem;
    padding: 0.4375rem 1rem;
    padding-right: 7.5rem;

    font-family:'AlibabaPuHuiTiMedium';
    font-size: 1.48750rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0.75rem;
    border: 2px solid var(---0, #7A5651);
}

.searchBut {
    position: absolute;
    padding: 0.4375rem 1rem;
    right: 0;
    font-family:'AlibabaPuHuiTiMedium';
    color: #E7AF4E;
    background-color: #7A5651;
    border: 2px solid #7A5651;
    margin-right: 1rem;
    border-radius: 0.5rem;
}
.searchBut:hover {
    background-color: #370903;
}

.listButsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    margin-bottom: 1.7rem;

}
.listButBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}

.select {
    margin-right: 0;
    margin-left: 0.125rem;
}
.selectItem {
    font-family:'AlibabaPuHuiTiMedium';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    color: #370903;
    background-color: #FFEDCD;
    appearance: none;
}

.iconEthereum {
    overflow: visible;
    background: no-repeat center/100% url('/images/iconEthereum.svg');
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: 16rem 16rem;
    width: 100%;
    height: 100%;
    filter: grayscale(80%);
    opacity: 0.6;
    z-index: 1;
}
.selectView {
    cursor: pointer;
    margin-left: 1rem;
}

.nothingBox {
    width: 100%;
    padding: 3rem 10rem 10rem 10rem;
}

.overflowXFix {
    overflow-x: auto;
    width: 100%;

}
.tableBox {
    width: 100%;
}
.hide {
    width: 0;
    height: 0;
    padding: 0;
}

.tableBox th:nth-child(2) {
    border-top-left-radius: var(--rounded-box, 1rem);

}
.tableBox tr:last-child td:nth-child(2) {
    border-bottom-left-radius: var(--rounded-box, 1rem);
}
.tableBox th {
    background-color: #FFF6E8;
    border-bottom: 0.04rem solid #000;
    text-transform: none;

    background-color: #FFF6E8;
    font-family:'AlibabaPuHuiTiMedium';
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    color: #370903;
    overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}
.tableBox th:nth-child(2) {
    padding-left: 0;
}
.tableBox th:last-child {
    padding-right: 0;
    text-align: right;
}
.tableItemTd {
    background-color: #FFF6E8;
    border-bottom: 0.04rem solid #7A5651;

    font-family:'AlibabaPuHuiTiMedium';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    color: #7A5651;
    text-transform: none;
    padding: 1rem 0;
}
.tableBox thead th {
    cursor: default;
}
.tableBox tbody tr {
    cursor: pointer;
}
.tableBox td:nth-child(2) {
    padding-left: 0;
}
.tableBox td:last-child {
    padding-right: 0;
    text-align: right;
}
.tableBox tr:last-child td {
    border-bottom: 0;
}


.Aa {
    font-size: 1.4rem;
    color: #C68E2C;
}
.Ab, .Ac {
    font-size: 1.12rem;
}


.tableTdBox {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.tableProgressBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

}
.tableProgress {
    height: 0.35rem;
    width: 86%;
    border-radius: 0.35rem;
    bottom: -0.375rem;
    border-radius:1rem;
    color: #E1D0BD;
}
.tableProgress::-webkit-progress-bar {
    background-color:#E1D0BD;
    border-radius:1rem;
}
.tableProgress::-webkit-progress-value {
    background-color:#C68E2C;
    border-radius:1rem;
}
.tableProgressText {
    font-size: 1.2rem;
}
.tableIconBox {
    width: 1rem;
    height: 1rem;
    margin: 0 0 0 0.256rem;
}
.tableIcon {
    width: 1rem;
    height: 1rem;
}
@media screen and (max-width: 961px) {
    .listButsBox {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
    }
    .listButBox {
        width: 100%;
        margin-bottom: 0.75rem;
    }
    .listButBox:last-child {
        margin-bottom: 0;

    }
    .selectView {
    }
    .selectView:first-child {
        margin-left: 0rem;
    }
}
